$white: #FFF;
$black: #000;

$colorText: #012530;
$colorTextAlt: #FFD6A0;

$colorMain: #213042;
$colorMainAlt: darken($colorMain, 10%);
$colorAccent: #435c7a;
$colorAccentAlt: #4DD95D;

$colorActive: #29C74D;
$colorNotActive: #818181;

$colorMessage: #38B0A6;
$colorMessageAlert: #FFB823;
$colorMessageError: #FF3030;

$colorError: #FD3535;
$colorAccept: #15BA45;
$colorNeutral: #666;

$colorFacebook: #3b5998;
$colorTwitter: #4099FF;
$colorYoutube: #e52d27;
$colorLinkedin: #4875B4;
$colorVimeo: #162221;
$colorInstagram: #517fa4;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$fontFamily: 'Roboto', sans-serif;
$fontFamilyIcons: "icons";

$sizeDesktop: 1200px;
$sizeTablet: 800px;
$sizeMobile: 480px;

$zIndexHigh: 9999;
$zIndexMedium: 9998;
$zIndexNormal: 9997;
$zIndexLow: 9996;

$fontSizeNormal: 1rem;
$fontSizeSmall: 0.9rem;
$fontSizeTiny: 0.8rem;
$fontSizeBig: 1.4rem;
$fontSizeLarge: 1.8rem;
$fontSizeHuge: 2rem;

$zIndex: 1000;
$zIndexHigh: 1001;
$zIndexHighest: 1002;

@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot');
  src:  url('fonts/icons.eot#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf') format('truetype'),
    url('fonts/icons.woff') format('woff'),
    url('fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-home: "\e902";
$icon-edit: "\e905";
$icon-image: "\e90d";
$icon-camera: "\e90f";
$icon-video: "\e912";
$icon-file: "\e924";
$icon-files: "\e925";
$icon-file-text: "\e926";
$icon-paste: "\e92d";
$icon-folder-plus: "\e931";
$icon-folder-minus: "\e932";
$icon-location: "\e948";
$icon-print: "\e954";
$icon-download: "\e960";
$icon-upload: "\e961";
$icon-save: "\e962";
$icon-bubbles: "\e96c";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-user-check: "\e975";
$icon-hour: "\e979";
$icon-search: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-enlarge: "\e98b";
$icon-shrink: "\e98c";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-setting: "\e994";
$icon-settings: "\e995";
$icon-clipboard: "\e9b8";
$icon-list: "\e9ba";
$icon-list-numbered: "\e9b9";
$icon-list-single: "\e9bb";
$icon-menu: "\e9bd";
$icon-menu-up-down: "\e9be";
$icon-menu-down: "\e9bf";
$icon-menu-up: "\e9c0";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-cancel: "\ea0d";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark-clean: "\ea11";
$icon-enter: "\ea13";
$icon-exit: "\ea14";
$icon-arrow-up-left: "\ea31";
$icon-arrow-up: "\ea32";
$icon-arrow-up-right: "\ea33";
$icon-arrow-right: "\ea34";
$icon-arrow-down-right: "\ea35";
$icon-arrow-down: "\ea36";
$icon-arrow-down-left: "\ea37";
$icon-arrow-left: "\ea38";
$icon-circle-up: "\ea41";
$icon-circle-down: "\ea43";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-arrow-simple-up: "\e904";
$icon-arrow-simple-down: "\e900";
$icon-arrow-simple-left: "\e901";
$icon-arrow-simple-right: "\e903";
$icon-move: "\e906";
$icon-table: "\ea70";
$icon-table-square: "\ea71";
$icon-embed: "\ea7f";
$icon-phone: "\e942";
$icon-email: "\e907";
$icon-crop: "\ea57";
$icon-google-plus: "\ea8b";
$icon-google-plus-alt: "\ea8c";
$icon-facebook: "\ea90";
$icon-facebook-alt: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-spotify: "\ea94";
$icon-telegram: "\ea95";
$icon-twitter: "\ea96";
$icon-vine: "\ea97";
$icon-rss: "\ea9b";
$icon-rss-alt: "\ea9c";
$icon-youtube: "\ea9d";
$icon-vimeo: "\eaa0";
$icon-vimeo-alt: "\eaa1";
$icon-flickr: "\eaa4";
$icon-flickr-alt: "\eaa5";
$icon-github: "\eab0";
$icon-wordpress: "\eab4";
$icon-blogger: "\eab8";
$icon-tumblr: "\eab9";
$icon-tumblr-alt: "\eaba";
$icon-apple: "\eabe";
$icon-android: "\eac0";
$icon-linkedin: "\eac9";
$icon-linkedin-alt: "\eaca";
$icon-file-pdf: "\eadf";
$icon-file-openoffice: "\eae0";
$icon-file-word: "\eae1";
$icon-file-excel: "\eae2";
$icon-libreoffice: "\eae3";