.header {
    background: $colorAccent;
    .headerIns {
        @include clearer();
    }
    .headerLeft {
        padding: 5px;
        width: 135px;
        float: left;
    }
    .headerRight {
        width: calc(100% - 150px);
        float: right;
        .headerRightTop {
            @include clearer();
        }
        .langs {
            float: right;
        }
    }
    .logo {
        a {
            width: 135px;
            height: 20px;
            background: url(../../img/logoTopSmallAlt.png) no-repeat left center;
            text-indent: -5000px;
            overflow: hidden;
            display: block;
        }
    }
}

.langs {
    .lang {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 0 0 5px;
        float: right;
        a,
        span {
            display: block;
            width: 30px;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            opacity: 0.7;
        }
        span {
            background: rgba($colorText, 0.7);
            cursor: default;
        }
        a {
            background: rgba($colorText, 0.2);
            &:hover {
                opacity: 1;
            }
        }
    }
}

.searchTop {
    width: 300px;
    float: right;
    .formSearch {
        
        @include clearer();
        .formFieldIns {
            width: 265px;
            float: left;
            input {
                width: 100%;
                padding: 5px;
                line-height: 30px;
                height: 30px;
                border: 0;
                display: block;
                @include borderBox();
                @include borderRadius(2px);
            }
        }
        .submitBtn {
            width: 30px;
            height: 30px;
            float: right;
            cursor: pointer;
            color: $white;
            @include iconBeforeAbsolute($icon-search, $paddingLeft: 0, $top: 5px, $left: 0);
            &:before {
                width: 30px;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
            }
            &:hover {
                color: $colorText;
            }
        }
    }
}