.header {
    background: $colorAccent;
    @include clearer();
    .headerIns {
        width: $sizeDesktop;
        margin: auto;
        padding: 10px 0;
        @include clearer();
    }
    .headerLeft {
        width: 35%;
        float: left;
    }
    .headerRight {
        width: 65%;
        float: right;
        .headerRightTop {
            @include clearer();
        }
        .shareIcons,
        .langs {
            float: right;
        }
    }
    .logo {
        a {
            width: 199px;
            height: 30px;
            background: url(../../img/logoTopAlt.png) no-repeat center center;
            text-indent: -5000px;
            overflow: hidden;
            display: block;
        }
    }
}
.langs {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0 0 10px 0;
    text-align: right;
    .lang {
        display: inline-block;
        width: 35px;
        height: 35px;
        padding: 0 0 0 10px;
        a,
        span {
            display: inline-block;
            width: 35px;
            line-height: 35px;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            opacity: 0.7;
        }
        span {
            background: rgba($colorText, 0.8);
            cursor: default;
        }
        a {
            background: rgba($colorText, 0.4);
            &:hover {
                opacity: 1;
            }
        }
    }
}

.searchTop {
    width: 300px;
    float: right;
    .formSearch {
        @include clearer();
        .formFieldIns {
            width: 265px;
            float: left;
            input {
                width: 100%;
                padding: 5px;
                line-height: 30px;
                height: 30px;
                border: 0;
                display: block;
                @include borderBox();
                @include borderRadius(2px);
            }
        }
        .submitBtn {
            width: 30px;
            height: 30px;
            float: right;
            cursor: pointer;
            color: $white;
            @include iconBeforeAbsolute($icon-search, $paddingLeft: 0, $top: 5px, $left: 0);
            &:before {
                width: 30px;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
            }
            &:hover {
                color: $colorText;
            }
        }
    }
}