.headerWrapper {
    background: $colorAccent;
    color: $white;
    padding:10px 0px;
    z-index:$zIndexHigh;
    @include clearer();
    a {
        color: $white;
    }
    .headerIns {
        max-width: $sizeDesktop;
        margin: auto;
    }
    .headerLeft {
        width: 30%;
        float: left;
        .logo {
            width: 125px;
            a {
                display: block;
                width: 305px;
                height: 30px;
                background-image: url(../../img/logoTopAlt.png);
                background-repeat: no-repeat;
                background-position: top left;
                background-size: contain;
                @include hideText();
            }
        }
    }
    .headerRight {
        width: 70%;
        float: left;
        text-align: right;
        font-size: $fontSizeSmall;
        @include clearer();
    }
    .langs {
        padding: 3px 0 0 0;
        float: right;
        @include clearer();
        .lang {
            text-align: right;
            display: inline-block;
            margin: 0 0 0 10px;
            a,
            span {
                padding: 5px 8px;
                display: inline-block;
                font-weight: bold;
                font-size: $fontSizeTiny;
                text-transform: uppercase;
            }
            a {
                background: lighten($colorAccent, 5%);
                &:hover {
                    background: lighten($colorAccent, 10%);
                }
            }
            span {
                background: darken($colorAccent, 5%);
                cursor: default;
            }
        }
    }
    .infoUser {
        font-size: $fontSizeTiny;
        padding: 8px 0 0 20px;
        float: right;
        text-align: right;
        font-size: $fontSizeSmall;
        .infoUserItem {
            display: inline-block;
            padding: 0 0 0 20px;
            a {
                padding: 0 0 0 10px;
                opacity: 0.8;
                @include iconBeforeAbsolute($icon-settings, $top: 3px);
                &:hover {
                    opacity: 1;
                }
            }
            &:first-child {
                padding-left: 10px;
            }
            &.infoUserLogout {
                a {
                    &:before {
                        content: $icon-exit;
                    }
                }
            }
        }
    }    
}