.menuSide {
    padding: 0 0 50px 0;
    background: $colorAccent;
    .menuSideItem {
        a {
            display: block;
            padding: 10px;
            color: $white;
            background: $colorAccent;
            font-size: $fontSizeTiny;
            font-weight: bold;
            border-bottom: 1px solid rgba($white, 0.1);
            @include animate();
            &:last-child {
                border: 0;
            }
            i {
                display: inline-block;
                padding: 0 5px 0 0;
                color: rgba($white, 0.3);
                @include animate();
            }
            &:hover {
                background: darken($colorAccentAlt, 15%);
                i {
                    color: $white;
                }
            }
        }
        &.menuSideItemBase {
            a {
                background: lighten($colorAccent, 10%);
                &:hover {
                    background: darken($colorAccentAlt, 15%);
                }
            }
        }
        &.menuSideItemAdmin {
            a {
                background: darken($colorAccent, 10%);
                &:hover {
                    background: darken($colorAccentAlt, 20%);
                }
            }
        }
        &.menuSideItemLogout {
            a {
                background: $colorNeutral;
                &:hover {
                    background: lighten($colorNeutral, 10%);
                }
            }
        }
    }
}
.menuSimple {
    text-align: right;
    @include clearer();
    .menuSimpleItem {
        display: inline-block;
        margin: 0 0 0 10px;
        a {
            display: inline-block;
            background: darken($white, 10%);
            border: 1px solid darken($white, 15%);
            color: darken($white, 60%);
            text-align: center;
            font-size: $fontSizeSmall;
            padding: 7px 10px;
            @include borderRadius(20px);
            @include animate();
            i {
                display: inline-block;
                padding: 0 5px 0 0;
                opacity: 0.8;
                @include animate();
            }
            &:hover {
                background: darken($white, 15%);
                i {
                    opacity: 1;
                }
            }
        }
        &.menuSimpleItemInsert a {
            background: $colorPositive;
            color: $white;
            border: 1px solid darken($colorPositive, 10%);
            &:hover {
                background: darken($colorPositive, 10%);
            }
        }
    }
}
.menuSideWrapper {
    padding: 10px 0 0 0;
    background: lighten($colorAccent, 15%);
    .menuSideTitle {
        font-size: $fontSizeTiny * 8 / 10;
        text-transform: uppercase;
        padding: 0 0 10px 10px;
        color: rgba($white, 0.5);
    }
    .menuSideItem {
        &.menuSideItemBase {
            a {
                background: lighten($colorAccent, 15%);
                &:hover {
                    background: darken($colorAccentAlt, 20%);
                }
            }
        }
    }
}