@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?k2zrpc');
  src:  url('fonts/icons.eot?k2zrpc#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?k2zrpc') format('truetype'),
    url('fonts/icons.woff?k2zrpc') format('woff'),
    url('fonts/icons.svg?k2zrpc#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e913";
}
.icon-conversation:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e901";
}
.icon-view:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-star-full:before {
  content: "\e906";
}
.icon-star:before {
  content: "\e907";
}
.icon-power-button:before {
  content: "\e908";
}
.icon-arrow-bottom:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-arrow-top:before {
  content: "\e90c";
}
.icon-email:before {
  content: "\e90e";
}
.icon-move:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e912";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e948";
}
.icon-printer:before {
  content: "\e954";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-save:before {
  content: "\e962";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-enlarge:before {
  content: "\e98b";
}
.icon-shrink:before {
  content: "\e98c";
}
.icon-cog:before {
  content: "\e994";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark-empty:before {
  content: "\ea11";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
