$white: #FFFFFF;
$black: #000000;

$colorText: #333333;
$colorTextAlt: #EFEFEF;

$colorMain: #022646;
$colorMainAlt: #CEECFE;
$colorAccent: #435c7a;
$colorAccentAlt: #FEBB26;

$colorActive: #29C74D;
$colorNotActive: #818181;

$colorMessage: #38B0A6;
$colorMessageAlert: #FEBB26;
$colorMessageError: #FD3535;

$colorError: #FD3535;
$colorAccept: #15BA45;
$colorNeutral: #666666;
$colorPositive: #1C9956;
$colorNegative: #FD3535;

$fontFamily: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontFamilyIcons: "icons";

$sizeDesktop: 1200px;
$sizeTablet: 800px;
$sizeMobile: 360px;

$zIndexHigh: 9999;
$zIndexMedium: 9998;
$zIndexNormal: 9997;
$zIndexLow: 9996;

$fontSizeNormal: 1rem;
$fontSizeSmall: 0.9rem;
$fontSizeTiny: 0.8rem;
$fontSizeBig: 1.4rem;
$fontSizeLarge: 1.8rem;
$fontSizeHuge: 2rem;
